.tac {
    text-align: center;
  }
  
.d-f {
    display: flex;
}
.fxd-c {
    flex-direction: column;
}
.w-100px {
    width: 100px 
}
.mt-20px {
    margin-top: 20px;
}
.mb-20px{
    margin-bottom: 20px
}
.mt-100px {
    margin-top: 100px;
}
.mb-500px{
    margin-bottom: 500px
}
.tPO {
    font-family: 'Poiret One', cursive, sans-serif;
}
.fs-100px {
    font-size: 100px; 
}
.fs-20px {
    font-size: 20px;
}
  
  